.about-title {
  font-family: 'adlerySwash3';
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ca370d;
  span {
    color: #5a989f;
  }
}

.about-text {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  text-align: center;
  color: #5a989f;
  font-family: 'stolzl';

  span {
    color: #ca370d;
  }
}

.m-top-40 {
  margin-top: 40px;
}