.burger-box {
  cursor: pointer;
  padding: 12px 5px 15px 5px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 50;

  @include media-breakpoint-down(xs) {
    position: absolute;
    right: 15px;
    top: 0;
    left: auto;
  }

  &:hover {
    .burger {
      background: $color-site;
      &:after,
      &:before {
        width: 20px;
        background: $color-site;
      }
    }
  }

  &.open {

    .burger {
      transform: rotate(135deg);
      width: 15px;

      &:before {
        opacity: 0;
      }

      &:after {
        bottom: 0;
        width: 15px;
        transform: rotate(-90deg);
      }
    }
  }
}

.burger {
  position: relative;
  width: 20px;
  height: 2px;
  background: $white;
  transition: $transition;

  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: $white;
    transform: rotate(0deg);
    transition: $transition;
  }

  &:before {
    width: 25px;
    top: -5px;
  }

  &:after {
    width: 15px;
    bottom: -5px;
  }
}