.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  li {
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }

    a {
      position: relative;
      font-size: 22px;
      color: #0e616a;
      text-transform: uppercase;
      padding: 10px;
      transition: $transition;

      &:before {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 3px;
        background: #ca370d;
        transition: $transition;
      }

      &:hover {
        &:before {
          width: 80%;
        }
      }
    }
  }
}