.top-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  background: {
    position: center;
    size: cover;
    repeat: no-repeat;
  };
}

.title-text {

  &__row {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &__item {
    margin-left: 40px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__data {
    text-shadow: 3px 5.2px 29.4px rgba(48, 53, 29, 0.25);
    font-size: 170px;
    font-weight: bold;
    line-height: 0.61;
    letter-spacing: 4.3px;
    text-align: center;
    color: #ffffff;
    margin-top: 25px;
  }

  &__month {
    text-shadow: 3px 5.2px 29.4px rgba(48, 53, 29, 0.25);
    font-size: 70px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.49;
    letter-spacing: 0.7px;
    text-align: center;
    color: #ffffff;
  }

  &__top {
    text-shadow: 3px 5.2px 29.4px rgba(48, 53, 29, 0.25);
    font-size: 70px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 1.08px;
    text-align: left;
    color: #ffffff;

  }

  &__bottom {
    text-shadow: 3px 5.2px 29.4px rgba(48, 53, 29, 0.25);
    font-size: 90px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
}

.fest {
  position: relative;
  background: {
    image: url("../images/shape.png");
    position: center center;
    size: cover;
    repeat: no-repeat;
  };
  padding: 15px 100px 20px 100px;

  &__text {
    font-size: 63px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.65;
    letter-spacing: 1.6px;
    text-align: center;
    color: #5a989f;
  }

  &__data {
    position: absolute;
    bottom: 20px;
    right: -65px;
    font-size: 38.5px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: 1px;
    text-align: center;
    color: #ca370d;
    padding: 10px 40px;

    background: {
      image: url("../images/shape-white.png");
      position: center center;
      size: cover;
      repeat: no-repeat;
    };
  }
}