.about {

  @include media-breakpoint-down(md) {
    padding: 0 0 50px 0;
  }

  &__img {
    margin-bottom: 15px;
  }

  &__text {
    color: $white;
    font-size: 14px;
    text-align: center;
    max-width: 920px;
    margin: 60px auto auto auto;

    @include media-breakpoint-down(sm) {
      margin: 30px auto auto auto;
    }
    p {
      margin: 0;
    }
  }
}