.title-program {
  color: $white;
  margin-bottom: 30px;
  text-align: center;

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
    font-size: 35px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 30px;
  }
}

.program {
  &__row {
    display: flex;
    margin-bottom: 20px;

    @include media-breakpoint-down(md) {
      justify-content: space-around;
    }

    &.title {
      justify-content: space-between;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
        justify-content: center;
      }

      .program__item {
        font-size: 21px;
        line-height: 21px;

        @include media-breakpoint-down(sm) {
          width: 100%;
          text-align: center;
          margin: 0;
        }
      }
    }
  }

  &__item {
    color: $white;
    font-size: 20px;
    line-height: 20px;
    font-family: $futurabookc;

    @include media-breakpoint-down(md) {
      text-align: left;
      width: 50%;
    }

    &:first-child {
      width: 200px;
      text-align: right;
      margin-right: 25px;

      @include media-breakpoint-down(md) {
        width: 50%;
      }

      @media screen and (max-width: 400px) {
        margin-right: 15px;
      }
    }
  }
}

.day {
  margin-bottom: 30px;

  .program__row {
    &:last-child {
      @include media-breakpoint-down(md) {
        flex-direction: column;
        align-items: center;
      }

      .program__item {
        @include media-breakpoint-down(md) {
          width: 100%;
          text-align: center;
          margin: 0;
        }
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}