//style for first screen
.fp-viewing-registration_fullpage_fullpage {

  .footer-content,
  .header-registration,
  .fullpage-navmenu {
    opacity: 0;
    z-index: -1;
    transition: $transition;
  }

  .btn-mute {
    opacity: 1;
    z-index: 16;
  }
}

.registration {
  height: 100vh;

  @include media-breakpoint-down(md) {
    padding: 0;
  }
}

.info {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include media-breakpoint-down(sm) {
    justify-content: flex-start;
  }
}

.main-description {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  letter-spacing: normal;
  color: $white;
  font-weight: bold;
  text-transform: uppercase;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    margin-top: 60px;
  }

  &__logo {
    display: inline-block;
    width: 158px;
    margin: -20px 35px 0 35px;

    @include media-breakpoint-down(sm) {
      margin: 10px auto 10px auto;
    }

    img {
      width: 100%;
    }
  }

  &__mark {
    font-size: 40px;
    color: $color-site;
  }
}

.date-event {
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;

  @include media-breakpoint-down(sm) {
    margin-top: 10px;
  }
}