@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext');
$fonts-folder: '../fonts';

@font-face {
  font-family: 'stolzl';
  src: url('#{$fonts-folder}/stolzl.otf') format('truetype');
  font-style: normal;
}

@import "fontawesome";
@import 'adlery-pro-swash';