$fonts-folder: '../fonts';

@font-face {
    font-family: 'adlerySwash';
    src: url('#{$fonts-folder}/adlery-pro-swash/Adlery-Pro-Blockletter-trial.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'adlerySwash2';
    src: url('#{$fonts-folder}/adlery-pro-swash/adlery-pro-swash.otf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'adlerySwash3';
    src: url('#{$fonts-folder}/adlery-pro-swash/adlery-pro-swash.otf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'adlerySwash4';
    src: url('#{$fonts-folder}/adlery-pro-swash/Adlery-Pro-trial.ttf') format('truetype');
    font-style: normal;
}

/*
@font-face {
    font-family: 'FuturaDemiC';
    src: url('#{$fonts-folder}/futurabook/FuturaDemiC.ttf') format('truetype');
    font-style: normal;
}*/
