html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: $text-font;
  font-size: 16px;
  text-align: left;
  color: $text;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
}

main {
  flex: 1 0 auto;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: $transition;
  color: $text;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-family: $futurabookc;
  word-wrap: break-word;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
  min-height: 160px;
  padding: 20px 20px 20px 15px;

  @include mobile {
    min-height: 120px;
  }
}

.h1 {
  @include media-breakpoint-down(sm) {
    font-size: 1.5rem;
  }
}

.h2 {
  font-size: 40px;
  text-transform: uppercase;
  color: $text;

  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

.section {
  padding: 80px 0;

  @media screen and (max-width: 1024px) {
    padding: 50px 0;
  }
}
