.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 150px;
  background:{
    image: url("../images/gh-header.png");
    position: bottom center;
    size: cover;
    repeat: no-repeat;
  };
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-sub {
  height: 100vh;
  width: 100%;
  background: {
    repeat: no-repeat;
    size: cover;
    position: center center;
    image: url("../images/bg.jpg");
  };
}

.logo {
  display: block;
  max-width: 120px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;


  li {
    margin-left: 20px;

    a {
      font-size: 30px;
      color: #e64019;
    }
  }
}