<header class="header">
    <div class="container">
        <div class="header-content">
            <a href="./" class="logo">
                <img src="images/logo.png" alt="logo">
            </a>
            <ul class="menu">
                <li><a href="#">Головна</a></li>
                <li><a href="#">Фестиваль</a></li>
                <li><a href="#">Стати другом</a></li>
                <li><a href="#">Контакти</a></li>
            </ul>
        </div>
    </div>
</header>
